html {
height:100%;
} 
body{
	/*height:100%;
	width:100%;*/
	font-size:10pt;
	font-family: Tahoma;
	/*margin:30 15 30 15;*/
	background-color:#FFFFFF;
	background-image:url(../resimler/bg.gif);
}
a{
	text-decoration:none;
}

td {  font-family: Tahoma; font-size: 10px; color:#94948E;}
p {  margin-top:0px; margin-bottom:3px; }

/****************************************************/
.baslik {
	font-weight: bold;
	font-size: 14pt;
	padding: 3px
}

.altbaslik {
	font-weight: bold;
	font-size: 11pt;
	padding: 3px
}

.icerik {
	font-weight: normal;
}
.lk_baslik{font-size:10pt; font-weight:bold;}

#ust_menu{
	height:28px; 
	padding:0;
	float:none;
}
#ust_menu_baslik{
	background-color:#DADAE4;
	/*width:90px;*/
	height:15px;
	text-align:center;
	border-top:1px solid #EBDF7C;
	border-left:1px solid #EBDF7C;
	border-right:1px solid #EBDF7C;
	padding:3px; 
	float:left;
}
#ust_menu_bosluk{
	width:5px;
	height:15px;
	float:left;
}
#ust_menu_alti{
	width:100%;
	background-color:#FFE500;
	height:30px;
	float:none;
	clear:both;
}
#sayfa{
	width:792px;
	background-color:#E5E5DD;
}
.sayfa_ustu{
	width:792px;
	background-color:#FFFFFF
}
.sayfa_ortasi{
	border:1px solid #C5C5BE;
	background-color:#FFFFFF;	
}
.sayfa_alti{
	/*width:792px;*/
	border:solid 1px #993333;
	background:url(../resimler/sayfa_alti_bg.gif);
	background-repeat:repeat-x;
	background-color:#ff0000;
}
#alt_menu{
	/*background-color:#9F9F9F;*/
	padding:5px;
	border-bottom:1px  dashed #fd9090;
	text-align:center;
}
#alt_menu a{color:#ffffff; text-decoration:underline; /*font-weight:bold;*/ }
/******************************* sol panel ******************/
#sol_panel{
	text-align:left;
	width:150px;
	padding:3px;
}
#sol_panel_kutu{
	border:1px #993333 solid; 
	padding:0px;
}
#sol_panel_kutu_baslik{
	background-color:#ff0000;
	background:url(../resimler/kutu_bg.gif);
	border-bottom:1px #993333 solid; 
	padding:3px;
	font-weight:bold;
	height:25px;
	vertical-align:middle;
	padding-top:10px;
	color:#FFFFFF;
}
#sol_panel_kutu_icerik{
	padding:3px;
}
ul{ 
	list-style:inside;
	list-style-type:lower-roman;
	padding-left:5px;
	margin-left:5px;
}
/*** sag panel ***/
#sag_panel{
	text-align:left;
	width:150px; 
	padding:3px;
}
#sag_panel_kutu{
	border:1px #993333 solid; 
	padding:0px;
}
#sag_panel_kutu_baslik{
	background-color:#ff0000;
	background:url(../resimler/kutu_bg.gif);
	border-bottom:1px #993333 solid; 
	padding:3px;
	font-weight:bold;
	height:25px;
	vertical-align:middle;
	padding-top:10px;
	color:#FFFFFF;
}
#sag_panel_kutu_icerik{
	padding:3px;
}

/******************************* mesaj ******************/
.mesajTitle{
	background-image:url(../resimler/ust_orta_bg.gif); 
	background-repeat:repeat-x; 
	font-size:12pt; 
	font-weight:bold; 
	padding:5px;
	vertical-align:bottom;
}
.mesajBody{
	padding:5px; 
	vertical-align:middle;
	background-color:white;
	font-size:12pt; 
}
.mesajBodyText{
	vertical-align:middle;
	font-size:12pt; 
}
/******************************* navigator ******************/
#vli_nav {padding: 3px; height:30px; text-align:right; background-color:#92BCE4;}
.vli_nav_tbl {border:1px solid #cee1f3;background-color:#92BCE4; border-top:none; text-align:center;}
#vli_nav_td {padding: 3px; float:left;}

/***************************** etiket **********************/
.tbl_etiket{
	height:24px;
	/*color:#a7d12c;*/
	background-color:#DDDADA;
}
.tbl_icerik{
	border:1px #DDDADA solid;
}
